<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.windevmobiledatawedgewrapper">
    <uses-permission android:name="com.symbol.datawedge.permission.contentprovider" />
    <queries>
        <package android:name="com.symbol.datawedge" />
    </queries>
</manifest>
